
body {
    background-color: rgb(24, 24, 24);
    height: 500px;
}

form {
    background-color: rgb(26, 25, 25));
    position:absolute;
    width: 300px;
    height: 200px;
    top:200px;
    left:600px;
    font-family: Arial;
    
}

div {
    font-size: 18px;
    font-family: arial;
}
